/* Impact Css Code */
* {
    margin : 0;
    padding : 0;
    }
    body {
    
        background-color : white;
        font-family:Arial, Helvetica, sans-serif ;

    }
    main{
        width: 100%;
    }
    .tour-main {
    width : 90%;
    margin : 0 auto;
    }
    header {
    background-color :black;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 600;
    height : 60px;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    }
    #bar{
        display: flex;
        flex-wrap: wrap;
    }
    #bar ul {
    list-style-type : none;
    margin : auto;
    overflow : hidden;
    }
    .nav_bar img, #footer img{
        margin : -18px auto;
        list-style-type : none;
        width:85px; 
        height:50px;
        }
    .nav_bar li {
    float : left;
    }
    .nav_bar li a {
    display : block;
    text-transform : uppercase;
    color :white;
    text-align : center;
    padding : 20px 20px;
    text-decoration : none;
    }
    .nav_bar li a:hover {
    color : #fff;
    border-top : 3px solid #cd0a0a;
    background-color : #00001a;
    }
    #content{
        background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://media.timesfreepress.com/img/photos/2020/06/26/1593210950_NY-VIRUS-5_gs_t1070_hc49beef5f8e2d379f649eb2aeed5e189175da4da.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 600px;
        text-align: center;
        font-size: 40px;
        color:#FFFFFFFF;
        text-shadow: 5px 5px 5px black;
        -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;

    }
    #content img{
        border-radius: 5px;
        border-top:10px solid red;
        margin-top: 50px;
    }
    .vote-content{
        background-color:#e6e6ff;
        border: 20px solid darkred;
        width: 80%;
        margin:20px auto;
    }
    .vote-content_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        margin: 5px 5px;
        width: 85%;
    }
    .content_flex{
        width: 75%;
        height: auto;
        padding: 5px;
        margin: 5px;
    }
    .content_flex h2{
        font-size: 30px;
        color:black;
        font-weight:600;
        -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    }
    .vote-content_text p{
        padding: 5px;
        font-size: 20px;
        color:#33334d;
        text-align: justify;
    }

    .container-flex{
        background-image: url(https://images.unsplash.com/photo-1572024659592-65bc80347a9e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height:100%;
    }
    .containe-flex_two h2, .containe-flex_two h3{
        color:#fff;
        font-size: 30px;
        text-align: center;
        width: 60%;
        margin: 10px;
        padding: 10px;
    }
    .containe-flex_two{
        background-color:#003333;
        opacity:0.8;
        width: 100%;
        height: 60%;
        margin: 20px auto;
    }
    .containe-flex_two img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        padding: 30px;
        margin-left: 10px;
    }
    .graph{
        background-image: url(https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        margin: 20px  140px;
        width:80%;
        height: 600px;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        box-shadow: 5px 5px 5px black;
    }
    .graph img{
        object-position: center;
        object-fit: contain;
        width: 470px;
        height: 500px;
        margin: 10px 0px;
        padding: 10px;
        z-index: -7;
    }
    .Impact-sec{
        position: relative;
    }
    .Impact-sec h1{
 text-align: center;
 font-size: 40px;
 margin: 40px;
 color:rgb(202,30,30);
 text-shadow: 2px 2px 2px black;
 font-weight: 700;
 letter-spacing: 0em;
    }
    .Impact-sec p{
width: 60%;
margin: 10px 90px;
padding: 10px 190px;
text-align: center;
font-size: 20px;
    }
    .vote-import_example{
     position: relative;
    }
    .next h2{
        margin: 10px 40px;
        padding: 5px;
        font-size: 30px;
    }
    .next img{
     object-position: center;
     object-fit: cover;
     width: 520px;
     height: 370px;
     margin-left: 150px;
     box-shadow: 5px 5px 5px black;
    }
    .third{
        float: left;
        position: absolute;;
    top: 200px;
    left: 500px;
}
.third h1{
    width: 600px;
    margin-left: 200px;
    font-size: 30px;
    text-shadow:none;
    color: rgb(202,30,30);
    
}
.third img{
    width: 650px;
    height: 490px;
    margin-top:-40px;
    box-shadow: 5px 5px 5px black;
    
}
.third p{
    font-size: 20px;
    width: 80%;
    float:left;
    padding-top: 10px;
    margin-left: -200px;
    text-align: justify;
}
.vote-import_example2{
    position: relative;
    top:580px;
    left:28px;
   }
   .importance_first img{
    width: 670px;
    height:400px;
    box-shadow: 5px 5px 5px black;
}
.importance_first h2{
    margin:0px 60px;
    padding: 5px;
  color:rgb(202,30,30);
  font-size: 30px;
}
.importance_first p{
    text-align: justify;
    font-size: 20px;
    width: 38%;
    padding: 10px;

}
.importance_second{
    position: absolute;;
    top:340px;
    left: 650px;
}
.importance_second h2{
    margin:0px 60px;
    padding: 5px;
  color:rgb(202,30,30);
  font-size: 34px;
}
.importance_second img{
    width: 590px;
    height: 450px;
    box-shadow: 5px 5px 5px black;
}
.importance_second p{
    text-align: justify;
    width: 70%;
    font-size: 20px;
    padding: 10px;
}
.vote-import_example3{
    position: relative;
    top:1030px;
    left:38px;
   }
   .importance_third h2{
    color:rgb(202,30,30);
    padding: 20px;
    font-size: 37px;
}
.importance_third img{
    width: 690px;
    height:500px;
    object-position: center;
    object-fit: cover;
    box-shadow: 5px 5px 5px black;
}
.importance_third p{
    font-size: 20px;
    width: 40%;
    padding: 10px;
}
.move{
    position: absolute;;
    top:480px;
    left: 670px;
}
.move img{
    width: 650px;
}
.move h2{
    margin:0px 60px;
    color:rgb(202,30,30);
    font-size: 34px;
    padding: 5px;
}
.move p{
    padding: 10px;
    font-size: 20px;
    width: 90%;
    
}
/*
    .third{
        float: left;
        position: absolute;;
    top: 0px;
    left: 500px;
}
.third h1{
    width: 600px;
    margin-left: 200px;
    font-size: 30px;
    text-shadow:none;
    color: #660000;
    
}
.third img{
    width: 650px;
    height: 490px;
    margin-top:-40px;
    box-shadow: 5px 5px 5px black;
    
}
.third p{
    position: relative;
    left: -700px;
    top:-290px;
    font-size: 20px;
    font-family: inherit;
    width: 400px;
    text-align: justify;
}
.importance_first h2{
    color:#fff;
    position: relative;
    top: 600px;
    left: -800px;
    font-size: 37px;
}
.importance_first img{
    width: 670px;
    height:400px;
    position: relative;
    top: -160px;
    left: 100px;
    box-shadow: 5px 5px 5px black;
}
.importance_first p{
    position: relative;
    top: -160px;
    left: -120px;
    text-align: justify;
    font-size: 20px;
    width: 37%;

}
.importance_second{
    position: relative;
    top:-400px;
    left: 700px;
}
.importance_second h2{
    position: relative;
    top:-60px;
    left: -480px;
  text-align: center;
  color:#b34700;
  font-family:Georgia;
  font-size: 30px;
}
.importance_second img{
    width: 590px;
    height: 450px;
    box-shadow: 5px 5px 5px black;
}
.importance_second p{
    position: relative;
    left: -280px;
    text-align: justify;
    width: 40%;
    font-size: 20px;
}
.importance_third{
    position: relative;
    top:-400px;
    left: 100px;
}
.importance_third h2{
    color: #fff;
    padding: 20px;
    font-size: 37px;
}
.importance_third img{
    width: 690px;
    height:500px;
    object-position: center;
    object-fit: cover;
    box-shadow: 5px 5px 5px black;
}
.importance_third p{
    position: relative;
    left: -280px;
    text-align: justify;
    font-size: 20px;
    width: 40%;
}
.importance_third-container{
    position: relative;
    top:0;
    left:0;
}
.move{
    position: absolute;;
    top:280px;
    left: 720px;
}
.move img{
    width: 650px;
    position: relative;
    left: -100px;
}
*/
    /* footer css style */
    #footer{
        position: relative;
        top:1460px;
        background-color:#1E1E28;
        text-align: center;
        width: 100%;
        color: #FFFFFFFF;
        font-size: 17px;
        padding: 50px;
      }
      
      .footer{
        position: relative;
        top:1450px;
        background-color: black;
        margin: 0 auto;
        text-align: center;
        height: 175px;
        padding: 20px;
        color: white;
    }
    .logo{
        justify-content: center;
    }
    .fa-instagram, .fa-facebook, .fa-youtube, .fa-twitter{
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .fa-instagram:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-twitter:hover{
        color: rgb(202, 30, 30);
        padding-left: 20px;
        padding-right: 20px;
    }
       